body {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202109/1321/y7iyxoBE8VKotN89QCFhLgLM.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* Home page styles */
.title {
  text-align: center;
  margin-top: 50px;
  font-size: 36pt;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12%;
}

.btn-group button {
  height: 250px;
  width: 250px;
  font-size: 24pt;
  background-image: url("Screenshot\ 2024-05-19\ at\ 9.41.44\ PM.png");
  background-size: cover;
  border: none;
  box-shadow: -3px 3px 4px lightslategray;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;
  color: rgb(107, 194, 248);
  text-shadow: -2px 1px 0 black;
  font-weight: bolder;
}

.btn-group button:hover {
  scale: 1.2;
}

/* Filter component styles */
.filter-form {
  display: flex;
  gap: 1em;
  background-color: rgb(237, 226, 226);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 5px;
}
